# Base URL for the Taiga REST API. Suffix /api/v1 is required.
# Set your self-hosted hostname or use https://api.taiga.io/api/v1
TAIGA_API_URL=https://api.taiga.io/api/v1

# Taiga login username
TAIGA_USERNAME=replace_with_username

# Taiga login password
TAIGA_PASSWORD=replace_with_password
